@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Robot', sans-serif;
}
 
body {
    background-color: black;
    color: white;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
}

.left {
    width: 25vw;
}
.close{
    display:none;
}
.right {
    width: 75vw;
}

.bg-black {
    background-color: black;
    color: white;
}

.logo {
    margin: 2px 3px 2px 5px;
    gap: 7px;
}

.logotxt {
    padding-top: 8px;
    font-weight: bold;
}

.library {
    position: relative;
    padding: 10px;
    display:flex;
    flex-direction:column;
    height: 65vh;
    padding-bottom: 5px;
    padding-right: 4px;
}
.library .songlist{
    padding:11px;
}
.songlist{
    flex: 1; /* Takes up all remaining space between heading and footer */
    overflow-y: auto; /* Adds a scrollbar only to this section */
    margin-bottom: 10px
}
.songlist ul li{
    /* border:2px solid white; */
    display:flex;
    border-radius:4px;
    gap:25px;
    position:relative;
    list-style:none;
    margin:4px 0;
    padding:6px;
}
.songlist li:hover{
    cursor:pointer;
}
.playnow{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.playnow img{
    width: 27px;
    height: 16px;
    position:absolute;
    margin:2px;
    right:0px
}
.songname{
    position:absolute;
    top:12px;
    left:65px;
    width: 187px;
    overflow-wrap:break-word;
}
.songplay{
    margin:2px;
    width: 50px;
    height: 37px;
}
.songinfo{
    display:flex;
}
.lib {
    opacity: 0.7;
    padding: 0px;
    width: 25px;
}

.home ul li {
    margin: 10px;
    display: flex;
    gap: 10px;
    width: 20px;
    list-style: none;
    font-weight: bold;
}

.heading img {
    width: 30px;
}

.heading {
    display: flex;
    align-items: center;
    margin: 4px;
    gap: 10px;
    opacity: 0.5;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
}

.search {
    opacity: 0.7;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
    color: white;
}

.right {
    margin: 12px 0px;
    position: relative;
}

.playbar {
    position: absolute;
    bottom: 30px;
    background-color: #dad5d5;
    filter: invert(1);
    width: 90%;
    padding: 12px;
    border-radius: 10px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 10px;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

/* header work */
.header {
    height: 58px;
    background-color: #000000;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    margin:-6px;
    display:flex;
    gap:17px;
}
.signupbtn{
    background-color:rgb(34, 34, 34);
    color:white;
    font-weight: 700;
    opacity: 1;
    border:none;
    height:auto;
   padding-left: 17px;
    padding-right: 17px;
    border-radius: 19px;
}
.signupbtn:hover{
    padding:11px;
    padding-left: 19px;
    padding-right:19px;
    cursor: pointer;
}

.loginbtn{
    background-color:white;
    padding:9px;
    font-weight:700;
    padding-left:17px;
    padding-right:17px;
    border-radius: 19px;;
}
.loginbtn:hover{
    cursor:pointer;
    font-weight:bolder;
    padding:11px;
    padding-left: 19px;
    padding-right:19px;
}
.header>* {
    opacity: 0.7;
    padding: 15px;
}

.playlist h1 {
    margin-left: 9px;
    margin-top:2px;
    padding: 7px;
    font-size: 23px;
}

.cardContainer {
    margin: 22px;
    display: flex;
    gap: 10px;
    overflow-y: auto;
    height: 65vh;
    flex-wrap: wrap;
}

.playlist .card {
    padding: 10px;
    padding-right: 17px;
    background-color: #252525;
    border-radius: 7px;
    width: 170px;
    height: 289px;
}

.card h2 {
    font-size: 20px;
}

.card p {
    opacity: 0.7;
    font-size: 14px;
}

#playbutton {
    padding-left: 1px;
    width: 24px;
}

.greencircle {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #1fdf64;
    border-radius: 50%;
    top: 155px;
    right: 19px;
    opacity:0;
    transition: all ease-in 0.2s;
}
.card:hover{
    .greencircle{
        top:143px;
        opacity:1; 
    }
    background-color: rgb(64, 62, 62);
    cursor: pointer;
}
.card {
    position: relative;
}

.card img {
    border-radius: 7px;
    width: 170px;
    object-fit: contain;
}

.card>* {
    padding: 4px;
}
.player{
    background-color: black;
    gap:16px;
    height: 47px;
    width: 100%;
    border-radius:8px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.playbtns{
    display:flex;
    justify-content: space-around;
}
.playbutton{
    margin:0px 15px 0px 15px;
}
.sp{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}
.nr{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}
.player img{
    width: 18px;
}
.shuffle{
    height:18px;
    padding:5px;
    opacity:0.5;
    cursor:pointer;
}
.nextsongbutton{
    height: 18px;
    padding:5px;
    opacity:0.8;
    cursor:pointer;
}
.previousbutton{
    height: 18px;
    padding:5px;
    opacity:0.8;
    cursor:pointer;
}
.playbutton{
    height:18px;
    background-color: white;
    border-radius:50%;
    padding:7px;
    cursor:pointer;
}
.reapeat{
    height: 18px;
    padding:5px;
    opacity:0.5;
    cursor:pointer;
}
.seekbar{
    height:4px;
    background-color:hsl(0deg 0% 30.2%);
    opacity:0.5;
    border-radius:5px;
    position:absolute;
    bottom:-8px;
    width: 35%;
    cursor:pointer;
}
.pointer{
    background-color:white;
    opacity:1;
    height: 13px;
    width: 13px;
    border-radius:50%;
    position:relative;
    bottom:4px;
    transition: left 0.1s;
    cursor:pointer;
}
.songdetails{
    opacity:0;
    height:66px;
    width: 220px;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    left:15px;
    top:4px;
}
.current-song-info{
    width:280px;
}
.songdetails img{
    height:57px;
    width:69px;
    margin:7px;
    border-radius:3px;
}
.time{
    display:flex;
    gap:85%;
}
.volumecontrol{
    display:flex;
    gap:7px;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:30px;
    top:30px;
}
.volumecontrol:hover{
    cursor:pointer;
}
.range{
    height: 4px;
    display:flex;
    justify-content: center;
}
.hamburger{
    width: 30px;
    height: 29px;
}
.hamburgercontainer{
    height: 37px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1200px) {
    .left{
        position: absolute;
        z-index: 1;
        left: -150%;
        width: 373px;
        background-color: black;
    }
    .left .close{
    display:block;
    position: absolute;
    display: block;
    top: 22px;
    right: 32px;
    width: 33px;
    }
    .right{
        width: 100%;
    }
}
@media (max-width:540px) {
    .card img {
    border-radius: 7px;
    width: 100px;
    object-fit: contain;
}
.playlist .card {
    padding: 10px;
    padding-right: 17px;
    background-color: #252525;
    border-radius: 7px;
    width: 100px;
    height: 188px;
}
.card h2 {
    font-size: 14px;
}
.card p {
    opacity: 0.7;
    font-size: 10px;
}
#playbutton {
    padding-left: 1px;
    width: 17px;
}
.greencircle {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 29px;
    height: 29px;
    background-color: #1fdf64;
    border-radius: 50%;
    top: 91px;
    right: 17px;
}
.header {
    height: 58px;
    width: 100%;
    background-color: #000000;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.current-song-info{
    display:none;
}
.cardContainer{
    justify-content: center;
}
.songdetails{
    width:97px;
}
.volumecontrol{
    display: none;
}
}
@media (max-width:370px){
    .time{
        gap:45%;
    }
    .volumecontrol{
        display: none;
    }
   .songdetails img{
        height: 50px;
        width: 55px;
   }
}