/* body{
    background-color:black;
    color:white;
} */
 *{
    margin: 0px;
    padding: 0px;
 }
.left{
    width:25vw;
}
.right{
    width:75vw;
}
.bg-black{
    background-color:black;
    color:white;
}
.logo{
    margin:10px;
}

.home ul li{
    margin: 10px;
    
    display:flex;
    gap:10px;
    width:20px;
    list-style: none;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
    color:white;
}

