@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:black;
    color:white;
}
 *{
    margin: 0px;
    padding: 0px;
    font-family:'Robot',sans-serif;
 }
.left{
    width:25vw;
}
.right{
    width:75vw;
}
.bg-black{
    background-color:black;
    color:white;
}
.logo{
    margin-right:7px;
    margin:6px;
    gap:7px;
}
.logotxt{
    padding-top:8px;
    font-weight: bold;
}
.library{
    position:relative;
    min-height: 75vh;
    gap:10px;
    padding:10px;
    padding-bottom:5px;
    padding-right:4px;
}
.lib{
    opacity: 0.7;
    padding:0px;
    width:25px;
}
.home ul li{
    margin: 10px;
    display:flex;
    gap:10px;
    width:20px;
    list-style: none;
    font-weight: bold;
}
.heading img{
    width: 30px;
}
.heading{
    display:flex;
    align-items: center;
    margin: 10px;
    gap:10px;
    opacity:0.5;
    width:100%;
    font-weight: bold;
    font-size: 13px;
}
.search{
    opacity:0.7;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
    color:white;
}
.right{
    margin:12px 0px;
}
.footer{
    position: absolute;
    bottom: 0px;
    display: flex;
    font-size:10px;
    gap:10px;
}
.footer a{
    text-decoration: none;
    color:grey;
}

/* header work */
.header{
    background-color: rgb(37, 35, 35);
    display:flex;
    justify-content: space-between;
}
.header >*{
    opacity:0.7;
    padding:15px;
}
.playlist h1{
    margin-left: 9px;
    padding:7px;
    font-size:23px;
}
.cardContainer{
    margin:22px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
.playlist .card{
    padding: 10px;
    padding-right:17px;
    background-color: #252525;
    border-radius: 7px;
    width:200px;
}
.card h2{
    font-size:20px;
}
.card p{
    opacity: 0.7;
    font-size:14px;
}
#playbutton{
    padding-left:1px;
    width: 76px;
}
.greencircle{
    position:absolute;
    display:flex;
    justify-content: center;
    width:34px;
    height:34px;
    background-color: #1fdf64;
    border-radius:50%;
    top: 181px;
    right: 19px;
}
.card{
    position:relative;
}
.card img{
    border-radius: 7px;
    width:200px;
    object-fit: contain;
}
.card >*{
    padding:4px;
}