@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Robot', sans-serif;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.bg-black {
    background-color: black;
    color: white;
}

.logo {
    margin-right: 7px;
    margin: 6px;
    gap: 7px;
}

.logotxt {
    padding-top: 8px;
    font-weight: bold;
}

.library {
    position: relative;
    min-height: 75vh;
    gap: 10px;
    padding: 10px;
    padding-bottom: 5px;
    padding-right: 4px;
}

.lib {
    opacity: 0.7;
    padding: 0px;
    width: 25px;
}

.home ul li {
    margin: 10px;
    display: flex;
    gap: 10px;
    width: 20px;
    list-style: none;
    font-weight: bold;
}

.heading img {
    width: 30px;
}

.heading {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    opacity: 0.5;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
}

.search {
    opacity: 0.7;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
    color: white;
}

.right {
    margin: 12px 0px;
    position: relative;
}

.playbar {
    position: absolute;
    bottom: 30px;
    background-color: #dad5d5;
    filter: invert(1);
    width: 90%;
    padding: 12px;
    border-radius: 10px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 10px;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

/* header work */
.header {
    height: auto;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}
.buttons{
    margin:-6px;
    display:flex;
    gap:17px;
}
.signupbtn{
    background-color:rgb(34, 34, 34);
    color:white;
    font-weight: bold;
    opacity: 0.5;
    border:none;
    padding:5px;
}
.signupbtn:hover{
    font-size:1rem;
    opacity:1;
    cursor: pointer;
}

.loginbtn{
    background-color:white;
    padding:9px;
    font-weight:700;
    padding-left:17px;
    padding-right:17px;
    border-radius: 19px;;
}
.loginbtn:hover{
    cursor:pointer;
    font-weight:bolder;
    padding:11px;
    padding-left: 19px;
    padding-right:19px;
}
.header>* {
    opacity: 0.7;
    padding: 15px;
}

.playlist h1 {
    margin-left: 9px;
    margin-top:2px;
    padding: 7px;
    font-size: 23px;
}

.cardContainer {
    margin: 22px;
    display: flex;
    gap: 10px;
    overflow-y: scroll;
    height: 70vh;
    flex-wrap: wrap;
}

.playlist .card {
    padding: 10px;
    padding-right: 17px;
    background-color: #252525;
    border-radius: 7px;
    width: 170px;
}

.card h2 {
    font-size: 20px;
}

.card p {
    opacity: 0.7;
    font-size: 14px;
}

#playbutton {
    padding-left: 1px;
    width: 76px;
}

.greencircle {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: #1fdf64;
    border-radius: 50%;
    top: 152px;
    right: 19px;

    transition: all ease-in 1s;
}

.card {
    position: relative;
}

.card img {
    border-radius: 7px;
    width: 170px;
    object-fit: contain;
}

.card>* {
    padding: 4px;
}