.flex{
    display:flex;
}
.border{
    border:2px solid red;
    margin:3px;
}
.justifycontent{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.rounded{
    border-radius:7px;
}
.margin{
    margin:11px;
}
.padding{
    padding:10px;
}
